.side-bar
  .side-header
    .side-header__box
      %p.side-header__box__user-name
        = current_user.name
      %ul.side-header__box__menu
        %li.side-header__box__menu__edit-user
          = link_to "#" do
            = icon('fa', 'edit')
        %li.side-header__box__menu__new-grouo
          = link_to edit_user_path(current_user) do
            = icon('fa', 'cog')


  .side-group
    .group
      .group__name
        いいい
      .group__message
        ううう